<button id="mobile-show-download-card-button" class="text-center justify-content-center bg-primary">
    <div id="mobile-show-download-card-container" class="d-grid align-self-center">
        <i class="download-mobile-plus fas fa-download"></i>
    </div>
</button>