<button id="mobile-show-upload-card-button" class="text-center justify-content-center bg-primary">
    <div id="mobile-show-upload-card-container" class="d-grid align-self-center">
        <i class="upload-mobile-plus fas fa-plus"></i>
    </div>
</button>