<div class="col commercial-bg">
    <iframe id="clientframe" class="commercial-iframe" src="https://www.softone.gr/transfer-it/" title="commercial-iframe" scrolling="no" frameborder="0" allowfullscreen></iframe>
</div>