<div id="expired-card">
    <img class="card-img-top p-3" src="/Icons/southPark.gif" alt="lost-gif">
    <!--FOOTER SECTION-->
    <div class="card-body pt-0 pb-3 ps-0 pe-0">
        <div class="scrolable-footer">
            <!--SUB FORM AND BUTTONS SECTION-->
            <div class="bg-white mt-4 mb-2 ms-1 me-1 d-grid justify-content-center">
                <div class="text-center">
                    <h2 class="text-muted">
                        Oooops!!!!
                    </h2>
                    <p class="text-muted m-0" style="font-size: 13px;">
                        The files you are trying to download are not found or are expired...
                    </p>
                    <a class="text-dark" asp-controller="OneCloud" asp-action="UploadFile">
                        <h5 class="mt-3">
                            Try to Upload new files
                        </h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>