<div id="dropzone-external" class="drag-drop-box align-items-center align-content-center h-100 row">
    <h2 id="dropzone-external-text" class="col text-center text-white align-self-center">
        Drop it like its Toxic
        <br />
        <span class="text-center display-3 text-light">
            Or Hot, Or Cold, Or Superman :)
        </span>
    </h2>
</div>