<div id="getLink-uploaded-card" style="display: none;">
    <img class="card-img-top p-3" src="/Icons/simps.gif" alt="yey-gif">
    <div class="card-body text-center">
        <h3 class="card-text gb-0">
            Congrats! You're done!
        </h3>
        <h6 class="text-muted">
            Copy your download link below
        </h6>
        <p class="text-muted m-0">or</p>
        <a class="text-muted" asp-controller="OneCloud" asp-action="UploadFile">
            Upload new files
        </a>
    </div>
    <div class="card-body pt-0 ps-0 pe-0">
        <div class="scrolable-footer">
            <!--SUB FORM AND BUTTONS SECTION-->
            <div class="ms-1 d-flex text-center">
                <div class="form-check p-0 align-self-center w-100">
                    <button type="button" class="copyButton btn btn-primary align-self-center m-1">Copy Link</button>
                    <input class="linkToCopy  align-self-center" />
                </div>
            </div>
        </div>
    </div>
</div>