<div id="upload-card">
    <div id="card-loader"></div>
    <div class="demo-container">
        <div id="file-uploader"></div>
        <div id="files-verification-input" class="text-center d-none">
            <p id="files-verification-input-text" class="text-danger" style="font-size: 11px">
                Add at least one file to upload
            </p>
        </div>
    </div>
    <!--FORM SECTION-->
    <form id="uploadForm" class="list-group list-group-flush">
        <div id="send-email-inputs" class="collapse show border-top">
            <div class="form-floating">
                <input type="email" class="form-control rounded-0 fw-bolder validatable" id="floatingEmailTo" name="emailTo" placeholder="Email To" autocomplete="off">
                <label for="floatingEmailTo">Email To</label>
                <div class="invalid-feedback text-danger p-1 ms-2" style="font-size: 11px"></div>
            </div>
            <div class="form-floating">
                <input type="email" class="form-control rounded-0 fw-bolder validatable" id="floatingEmailFrom" name="emailFrom" placeholder="Email From" autocomplete="off">
                <label for="floatingEmailFrom">Email From</label>
                <div class="invalid-feedback text-danger p-1 ms-2" style="font-size: 11px"></div>
            </div>
            <div class="form-floating">
                <textarea type="text" rows='1' class="form-control fw-bolder" id="floatingMessage" name="message" placeholder="Message" autocomplete="off"></textarea>
                <label for="floatingMessage">Message</label>
                <div class="invalid-feedback text-danger p-1 ms-2" style="font-size: 11px"></div>
            </div>
        </div>
    </form>
    <hr />
    <!--FOOTER SECTION-->
    <div class="card-body pt-0 pb-3 ps-0 pe-0">
        <div class="scrolable-footer">
            <div id="additionalSettings" class="collapse bg-light border-bottom">

                <!--ADDITIONAL SETTINGS SECTION-->
                <div class="form-check bg-light p-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="sendEmailCheckbox" data-bs-toggle="collapse" data-bs-target="#send-email-inputs" aria-expanded="true" aria-controls="send-email-inputs" checked>
                        <label class="form-check-label" for="sendEmailCheckbox">
                            Send Email
                        </label>
                    </div>
                </div>
                <div class="form-check bg-light p-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="getLinkCheckbox">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Get Link
                        </label>
                    </div>
                </div>
            </div>

            <!--SUB FORM AND BUTTONS SECTION-->
            <div class="bg-white mt-3 mb-2 ms-1 me-1 d-flex">
                <div class="form-check p-0 d-flex justify-content-evenly align-self-center w-100">
                    <button type="button" class="additionalSettingsToggle align-self-center m-1" data-bs-toggle="collapse" data-bs-target="#additionalSettings" aria-expanded="false" aria-controls="additionalSettings">
                        <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <button id="fake-submit" type="submit" class="btn btn-primary align-self-center w-75 m-1">
                        Transfer
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>